@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1150px;
}

.img_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.home_img {
  background: url(../public/assets/f.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* .grid_img{
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.grid_item {
  list-style: none;
  padding: 1rem;
}

.grid_image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 10px;
} */
.gallery {
  grid-column-gap: 24px;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
}

.pic{
   -webkit-transition: all 350ms ease;
   transition: all ease 350ms;
   cursor: pointer;
   margin-bottom: 12px;
}

@media screen and (max-width: 992px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media screen and (max-width: 488px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-width: 25%;
    -webkit-column-width: 100%;
    column-width: 100%;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: darkslategrey;
  border-radius: 3px;
}
