@tailwind base;
@tailwind components;
@tailwind utilities;


/* =============== */
.max-screen-wrapper {
  @apply w-full px-[20px] lg:px-[30px];
}

.max-screen-inner {
  @apply w-full max-w-[1336px] mx-auto;
}

.nav-inner-wrapper {
  @apply w-full max-w-[1440px] mx-auto;
}

/* ============== */

/* Add this to your CSS file */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.transition-transform {
  transition: transform 0.5s ease-in-out;
}





.gallery {
  grid-column-gap: 24px;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
}

.pic{
   -webkit-transition: all 350ms ease;
   transition: all ease 350ms;
   cursor: pointer;
   margin-bottom: 12px;
}

@media screen and (max-width: 992px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media screen and (max-width: 488px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-width: 25%;
    -webkit-column-width: 100%;
    column-width: 100%;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: darkslategrey;
  border-radius: 3px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
}
